@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 green">Log the places you've travelled to!</h1>
    <p><a href="https://localhost:5001/country">Log a Country</a> | <a href="https://localhost:5001/state">Log a State</a> | <a href="https://localhost:5001/city">Log a city</a></p>
</div>

<img src="https://higherlogicdownload.s3.amazonaws.com/SRAINTERNATIONAL/UploadedImages/167e255a-8759-4a2f-92f6-591d6d8f7afb/Catalyst-pictures/Text-body-images/april2021/Picture_2_Travel.jpeg" alt="">