/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar {
  background-color: darkgreen;
}

.white {
  color: white;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white;
}

/* Provide sufficient contrast against white background */
a {
  color: darkgreen;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: 1px black;
  font-size: medium;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: lightgreen;
  background-color: #1b6ec2;
  border-color: #1861ac;
  -webkit-text-stroke: 1px black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: 1px black;
  color: lightgreen;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  color: lightgreen;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: lightgreen;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
}

body {
  background-color: blue;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.green {
  color: lightgreen;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -webkit-text-stroke: 1px black;
}

.table {
  color: lightgreen;
}

.col-md-4 {
  color: lightgreen;
}

header {
  color: white;
}

.form-control {
color: lightgreen;
}

.form-control:focus {
  color: lightgreen;
}